<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phone.erp.boss.mapper.contact.RetailPayMapper">
<!-- 营业款 -->

    <!-- 公共查询条件 -->
    	<sql id="queryCondition">
        			 where T.GROUP_ID =#{groupId}
                      AND T.COMPANY_ID IN(${companyIds})
                      AND T.SECTION_ID IN(${sectionIds})
    	</sql>
    <!-- 获取营业款主页分页集合 -->
    <select id="getPageData" resultType="com.phone.erp.boss.vo.contact.RetailPayVo">
         SELECT '营业款'NAME FROM dual
    </select>
    <!-- 获取营业款主页总计行对象 -->
    <select id="getTotalVo" resultType="com.phone.erp.boss.vo.contact.RetailPayVo">
         SELECT '营业款总计行'NAME FROM dual
    </select>
    
</mapper>