<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 分期商业务战报 -->
<mapper namespace="com.phone.erp.boss.mapper.retail.InstallMentfeeMapper">
    <!-- 获取分期商业务战报主页分页集合 -->
    <select id="getPageData" resultType="com.phone.erp.boss.vo.retail.InstallMentfeeVo">
        SELECT 1 id FROM dual
    </select>

    <!-- 获取分期商业务战报主页总计行对象 -->
    <select id="getTotalVo" resultType="com.phone.erp.boss.vo.retail.InstallMentfeeVo">
        SELECT 1 NAME FROM dual
    </select>
</mapper>