<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 今日采购 -->
<mapper namespace="com.phone.erp.boss.mapper.purchase.TodayPurchaseMapper">
    <!-- 获取今日采购主页分页集合 -->
    <select id="getPageData" resultType="com.phone.erp.boss.vo.purchase.TodayPurchaseVo">
        SELECT 1 id FROM dual
    </select>

    <!-- 获取今日采购主页总计行对象 -->
    <select id="getTotalVo" resultType="com.phone.erp.boss.vo.purchase.TodayPurchaseVo">
        SELECT  2 NAME  FROM dual
    </select>
</mapper>